artifacts:
  postgresql:
    group-id: org.postgresql
    version: 9.4.1208
    type: jar
  jolokia:
    group-id: org.jolokia
    artifact-id: jolokia-war
    version: 1.3.3
loggers:
  ROOT:
    level: INFO
    handlers: [CONSOLE, FILE]
  com.github.t1.deployer:
    level: DEBUG
    handlers: [CONSOLE, FILE]
log-handlers:
  CONSOLE:
    type: console
    level: ALL
    formatter: COLOR-PATTERN
